@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    min-height: 150vh;
    overflow: hidden;
}
ul li{
    list-style: none;
}

a{
    text-decoration: none;
}

/*Header*/
.header{
    padding: 10px 150px;
} 

.logo p{
    font-size: 44px;
    font-family: 'Yellowtail', cursive;
}

.header {
    display: flex;
    align-items: center;
    background-color: rgb(224, 224, 224);
    justify-content: space-between;
}

header .nav .nav-list{
    display: flex;
    width: 500px;
    justify-content: space-evenly;
}

header .nav .nav-list li a{
    color: #000;
    font-size: 18px;
}

/*Page Content*/
.home-page{
    width: 100vw;
    display: flex;
}
.home-page .left-side{
    width: 20vw;
    padding-top: 50px;
    background-color: rgb(80, 80, 80);
}
.home-page article{
    width: 80vw;
    padding: 40px;
    box-sizing: border-box;
}
.home-page .left-side .side-left-list li{
    height: 100px;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-page .left-side .side-left-list li:hover{
    background-color: rgb(155, 155, 155);
}
.home-page article h1{
    padding: 30px 0;

}
.home-page article h2{
    padding-bottom: 30px;
}
.home-page article p{
    font-size: 18px;
}
/*Footer*/
footer{
    display: flex;
    height: 10vh;
    font-size: 28px;
    align-items: center;
    justify-content: center;
    font-family: 'Yellowtail', cursive;
    background-color: rgb(224, 224, 224);
}


/*======================= Login Page =======================*/
.login-page{
    height: 82vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-page .login-form{
    width: 40vw;
    height: 40vh;
    padding: 30px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
}
.login-page .login-form input{
    width: 100%;
    padding: 10px;
    margin: 10px auto;
}
.login-page .login-form .login-btn{
    width: 400px;
    border: none;
    padding: 20px;
    color: #fff;
    font-size: 28px;
    margin-top: 20px;
    background-color: rgb(116, 116, 116);
}